altgraph==0.16.1
docxtpl==0.6.3
et-xmlfile==1.0.1
future==0.18.2
jdcal==1.4.1
Jinja2==2.10.3
lxml==4.6.5
MarkupSafe==1.1.1
numpy==1.17.3
openpyxl==3.0.0
pandas==0.25.2
pefile==2019.4.18
PyInstaller==3.5
python-dateutil==2.8.0
python-docx==0.8.7
pytz==2019.3
pywin32-ctypes==0.2.0
six==1.12.0
